In [1]:
f=0
print(f)

0

In [2]:
p="Edunock"
print(p)

Edunock

In [3]:
print("Welcome to "+p)

Welcome to Edunock

In [4]:
print("Chpater no "+str(12)+" in "+p)

Chpater no 12 in Edunock

In [5]:
def someFunction():
  t="Welcome to Python code"
  print(t)

someFunction() #called function

Welcome to Python code

In [9]:
def someFunction():
  t="Welcome to Python code"
  global c
  c=5+12
  print(t,c)

someFunction() #called function
print(c)

Welcome to Python code 17
17

In [10]:
def funct2(arg1,arg2):
  print(arg1,"I am learning Python ",arg2)

def cube(x):
  return x*x*x

funct2(10,20)
print(funct2(5,8))
print(cube(5))

10 I am learning Python  20
5 I am learning Python  8
None
125

In [11]:
def power(num,x=1):
  result=1
  for i in range(x):
    result=result*num
  return result

print(power(3))
print(power(2,4))

3
16

In [12]:
#Pass array to function

def multi_add(*args):
  result=0
  for x in args:
    result=result+x
  return result

print(multi_add(40,50,100,200))

390

In [13]:
# if else in function

def main():
  x,y=10,100
  if(x<y):
    st="x is less than y"
  else:
    st="x is greater than or equal to y"
  print(st)

In [14]:
if __name__=="__main__":
  main()

x is less than y

In [15]:
def main():
  x=0
  while x<5:
    print(x)
    x=x+1

In [17]:
if __name__=="__main__":
  main()

0
1
2
3
4